.util {
  padding-top: 1rem;
}

.util-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
}

.util-type {
  border-bottom: 1px solid #3777ff;
}

.output-wrapper {
  display: none;
}

.output {
  margin-bottom: 1rem;
}

.show {
  display: block;
}

.control {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px 0;
}

pre {
  border: 1px solid #3777ff;
  padding: 5px;
  margin: 0;
  font-size: 0.75rem;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

input {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  outline: 0;
}

input[type='text'] {
  width: 90%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 0.25rem;
  border: 1px solid #3777ff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

input[type='submit'] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #3777ff;
  border-color: #3777ff;
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (min-width: 992px) {
  .output {
    height: 80vh;
    overflow: auto;
  }
}
